<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; APPDEV 2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Library ID</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none">Register Online</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Sign In</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Account Feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Stuff for developers</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Library</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none">Browse Catalogue</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Search Catalogue</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Borrow Books</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Return Admission</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Pricing</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>