<body>
<div class="container py-3">
<app-headnav></app-headnav>

<!-- Main Section -->
<main>
  <!-- Jumbotron Main Title -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6" id="main_title">
      <h2><b>Welcome To The Josenian Library</b></h2>
      <p>Be Inside, Stay Inspired. Josenian Library delivers the best service.<br>Sign in to explore beyond knowledge.</p>
      <button type="button" class="btn btn-success main" routerLinkActive="active" routerLink="/user-signin"><b>As User</b></button>
      <button type="button" style="background-color: rgb(192, 245, 187); color: black; margin-left: 15px;" routerLinkActive="active" 
      routerLink="/admin-signin" class="btn btn-success main">As Admin</button>
   </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
      <img src="https://i.pinimg.com/564x/97/64/39/976439d12b190bcb3b2212c1c490898d.jpg" 
      alt="responsive webite" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- Features Section -->
  <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-3 border-bottom"></h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
            <img class="img_feature" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR93NOo72vSw7pJ_oF-N8lGNTgBj6UTFy76affP_kvM0DF6d_uRS-c3HtrM7LxyXMWckGo&usqp=CAU"> 
          </div>
          <h2>Browse Library</h2>
          <p>Browse selection ranging from articles, novels and more. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="icon-link d-inline-flex align-items-center" style="color: rgb(16, 79, 16);">
            Browse Selection
          </a>
        </div>

        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
            <img class="img_feature" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtXYX9cZhCqvWlpsW_q8yj1rmMNky_ukKFtUmgVMW90S9KWRtki1re0j5_521aFfmjMDI&usqp=CAU" >
          </div>
        <h2>Search Catalogue</h2>
          <p>Search library catalogue by title, author, genre, etc. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="icon-link d-inline-flex align-items-center" style="color: rgb(16, 79, 16);">
            Search Catalogue
          </a>
        </div>

        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-primary bg-gradient text-white fs-2 mb-3">
            <img class="img_feature" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcEVcVnDET9Crbmm3zIUszlTWePG7gTdkTVRi-O9qnsU-7qrzqE8IVu09S3JO_R3N2HDU&usqp=CAU" >
          </div>
          <h2>Borrow Books</h2>
          <p>Borrow books you wish to read and return them to assigned deadline. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="icon-link d-inline-flex align-items-center" style="color: rgb(16, 79, 16);">
            Borrow Books
          </a>
        </div>
      </div>
    </div>
</main>
   
  <!-- Footer -->
    <app-footernav></app-footernav>
  </div>
</body>

