<body>
    <div class="container py-3">
    <app-usernav></app-usernav>
    
    <main>
    <div class="library-header bg-cover">
      <div class="header-mask py-2 text-white">
          <h1 class="display-4 font-weight-bold" style="margin-left:13px">Remove Books</h1>
          <p class="time mt-2" style="margin-left:13px">As Of {{today | date:'fullDate'}} {{today | date:'h:mm:ss a'}} (Phillipine Time)</p>
      </div>
    </div>
    
    <div class="book-card row-3 col-3 mt-3">
        <div class="card-body row">
          <form [formGroup]="removeForm">
    
            <div class="row">
                <div class="col">
                    <label for="bookid">Insert Database ID</label>
                    <input type="text" class="form-control" id="bookid" formControlName="bookid" #bookid/>
                  </div>
            </div>
    
            <button type="submit" class="btn btn-danger mt-3 mb-5" [disabled]="!removeForm.valid" (click)="removeBook(bookid.value)">
              Remove
            </button>
          </form>
        </div>
        
      </div>
      <h4>Book Archives</h4>
      <table class="book-table mt-3">

        <tr><td><b><a>Author</a></b></td>

            <td><b><a>Title</a></b></td>

            <td><b><a>Database ID</a></b></td>

            <td><b><a>Status</a></b></tr>

        <ng-container *ngFor="let group of bookusers$">

            <tr><td><a>{{group.author}}</a></td>

            <td><a>{{group.name}}</a></td>

            <td><b><a>{{group.id}}</a></b></td>

            <td><a>{{group.status}}</a></td></tr>

        </ng-container>
   </table>
    </main>
      <app-footernav></app-footernav>
    </div>
    </body>