<body>
<div class="container py-3">
<app-usernav></app-usernav>

<main>
    <div class="container py-3">
        <div class="library-header bg-cover">
          <div class="header-mask py-5 text-center text-white">
              <h1 class="display-4 font-weight-bold">Browse Books</h1>
          </div>
          </div>
      
          <div class="row">
            <div class="col book-users">
            <div class="col mr-5 mt-2">
              <div class="book-card">

                <div class="card" style="width: 18rem;" *ngFor="let book of bookusers$">
                    <img class="card-img-top" src="https://cdn3d.iconscout.com/3d/premium/thumb/book-stack-5498522-4577227.png" alt="Card image cap">
                    <div class="card-body">
                      <ul class="list-group list-group-flush">
                
                        <li class="list-group-item">
                            <a>Book: </a>
                            <a>{{book.name}}</a>
                          </li>
            
                        <li class="list-group-item">
                          <a>Author: </a>
                          <a>{{book.author}}</a>
                        </li>
            
                        <li class="list-group-item">
                          <a>ID: </a>
                          <a>{{book.bookid}}</a>
                          </li>
                    
                        <li class="list-group-item">
                          <a>Published: </a>
                          <a>{{book.published}}</a>
                        </li>
            
                        <li class="list-group-item">
                          <a>Status: </a>
                          <a>{{book.status}}</a>
                          </li>
                    
                      </ul>
                      <button class="btn btn-success" (click)="borrowBook(book)" [disabled]="book.status=='BORROWED'">Borrow Book</button>
                      <button class="btn btn-danger" (click)="returnBook(book)"[disabled]="book.status=='AVAILABLE'">Return Book</button>
                    </div>
                  </div>

                </div>
            </div>
          </div>
        </div>

        </div><div class="container py-3">
     </div>
</main>

<app-footernav></app-footernav>
   </div>   
</body>

